.hero {
    background-size: cover;
    background-position: center;
    height: 270px;
    width: 1440px;
    display: flex;
    

    justify-content: center; 
    
    
}

.bgImg {
    
    /* width: 799px;
    height: 212px;
    margin-top: 103px;
    margin-left: 327px; */
    
}